@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
  
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

:root{
--carrot-color:#E2A52C;
--yellow:#C9E881;
--blue:#320a96;
--white:#fff;
--light-color:#666;
--light-bg:#eee;
--border:.2rem solid black ;
--box-shadow:0 .5rem  1.5rem rgba(0,0,0,.1); 
}
@mixin grid ($val){
    display: grid;
    drid-templete-columns: repeat(auto-fit, minmax($val, 1far));
    gap:1.5rem;
}


html{
font-size: 62.5%;
overflow-x: hidden;
scroll-behavior: smooth;
scroll-padding-top: 4rem;

}
::-webkit-scrollbar {
    width: .5rem;
}

::-webkit-scrollbar-track{
    background: transparent;
}
::-webkit-scrollbar-thumb{
    background: black;
    border-radius: 1px;
}
section{
    padding: 5rem 9%;
}
.btn{
     display: inline-block;
     margin-top: 1rem ;
     padding: .8rem 2.8rem;
     border-radius: 5rem;
     border-top-left-radius: 0;
     border: var(--border);
     cursor: pointer;
     background: none;
     color: black;
     font-size: 1.7rem;
     overflow: hidden;
     z-index: 0;
     position: relative;
}
.btn::before{
    content: '';
    position: absolute;
    top: 0; left: 0;
    height: 100%;
    width: 100%;
    background: black;
    z-index: -1;
    transition: .2s linear;
    clip-path: circle(0% at 0% 5%);
}
.btn:hover::before{
    clip-path: circle(100%);

}
.btn:hover  {
    color: white;
}
@keyframes login{
    0%{
        transform: translateY(4rem);
        opacity: 0;
    }
}
body{
    height: 500rem;
}
.header{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
}

.logo{
    display: flex;
    margin-top: -20px;
    padding: -50px;
}

.navbar a{
    margin: 0 1rem;
    font-size: 1.7rem;
    color: rgb(13, 13, 13);
    text-decoration: none;
    position: sticky;
    top: 0px;
    
}

.navbar a:hover{
color: var(--light-color);
text-decoration: none;
}
.icons a,
.icons div
 {
    font-size: 1.5rem;
    margin-left: 1.5rem;
    color: rgb(18, 18, 18);
    cursor: pointer;
}.icons a,
.icons div:hover{
    color: #E2A52C;
    margin-left: 1.5rem;

}
.login-form{
    position: absolute;
    top: 120%;right: 2rem;
    width: 35rem;
    border-radius: 1rem;
    background: white;
    box-shadow: var(--box-shadow);
    padding: 2rem;
    display: none;
    text-decoration: none;
    
    
}
.active{
    display: block;
    animation: login .4s linear;
}
h3{
    color: black;
    font-size: 2.5rem;
padding-bottom: .5rem;
text-decoration: none;
}
.box{
    width: 100%;
    border-bottom: var(--border);
    border-width: .1rem;
    padding: 1.5rem 0;
     font-size: 1.6rem;
     color: black;
     text-transform: none;
     margin: 1rem 0;
     text-decoration: none;
}
.remember{
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: 1rem 0 ;
    
}
label{
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--light-color);
}
.btn{
    width: 100%;
    text-align: center;
    margin: 1.5rem 0;
    text-decoration: none;
}

.btn:hover{
    background:#543d8d;
    text-decoration: none;
}
.links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}
a{
    font-size: 1.4rem;
    color:black;
    text-decoration: none;

}
a:hover{
     color: black;
     text-decoration: none;
}
#menu-btn{
    display: none;
}

.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: url(../image/pets/karsten-winegeart-oU6KZTXhuvk-unsplash.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
.content{
    width: 125rem;
    position: absolute;
    top: 200px;
}
h3{
    font-size: 30px;
    position: absolute;
    top: -50px;
    left: 25px;
    padding-bottom: 1rem;
    color: white;
}
span{
    color: yellow;
}
.btn{
    color:rgb(11, 11, 11);
    border-color: rgb(17, 17, 17);
    width: 200px;
    left: 50px;
}
.btn:hover{
color:white;
}
.btn:hover::before{
    background-size: black;
}
.wave{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 12rem;
}
.about{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:2rem;
}
.about .image{
    flex: 1 1 40rem;
}
.image img{
    width: 100%;
}
.conten{
    flex: 1 1 40rem;
}
.conten h2{
    color: black;
    font-size: 4rem;
}
.conten span{
    color: #f2ad24;
}
.conten p{
    font-size: 1.6rem;
    color: var(--light-color);
    padding: 1rem 0;
    line-height: 2;
    
}



































/*media queries*/
@media (max-width:991px){
html{
    font-size: 55%;
}
.header{
    padding:2rem;
}
section{
    padding: 5rem 2rem;
}
.wave{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10rem;
}


@media (max-width:768px){
    #menu-btn{
        display: inline-block;
    }
    .header{
        
    }
 .navbar{
     position: absolute;
     top: 99%; left: 0;right: 0;
     background: white;
     clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
 }
 .active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
 }
 a{
     display: block;
     margin: 2rem;
     font-size: 2rem;
 }
.content{
    width: 50rem;
    position: absolute;
    top: 200px;
}
.btn{
    color:rgb(11, 11, 11);
    border-color: rgb(17, 17, 17);
    width: 150px;
    left: 30px;
    top:50px;
}

@media (max-width:450px){
    html{
        font-size: 50%;
       }
       .header .login-form{
           width: 90%;
       }
       .content{
        width: 45rem;
        position: absolute;
        top: 140px;
        
    }
    .btn{
        color:rgb(11, 11, 11);
        border-color: rgb(17, 17, 17);
        width: 120px;
        left: 20px;
        top:30px;
    }
}

}
}